body {
  text-align:center;
  background-image: linear-gradient(to right,blue 0%, purple 100%);

}

#img {
  width:500px;
  border-width:20px;
  border-color:white;
  border-radius:10000px;
}

#p {
  color:white;
  font-size:20px;
}

#id{
  color:white;
  font-size:50px;
  text-align:center;
  margin:8px auto;
}

.menu{
  list-style:none; 
  float:right;
  top:10px;
  right:30px;
  cursor: pointer; 
  text-color: white; 
}

ul li{
  display: inline;
}
 
.link:hover
{
  background-color:green; 
}

#welcome{
  font-family:Macondo;
  font-size:25px;
  color:white;
}

#goodbye{
  font-family:Macondo;
  font-size:25px;
  color: white;
  
}
#notid{
     border-style:solid;
  boder-color:white;
  background-color:black;
}

#thisisa_id{
     border-style:solid;
  boder-color:white;
  background-color:black;
  color:white;
}

#favoritehobby{
  color:white;
  font-family:Macondo;
  font-size:20px;
} 

#no{
  width:500px;
  border-radius:1000px;
}

#no2{
  width:500px;
  border-radius:1000px;
}

#idk{
  border-style:solid;
  boder-color:white;
  background-color:black;
  color:white;
}

#work{
  color:white;
  font-family:Macondo;
  font-size:20px;
}

#unknown{
  border-style:solid;
  boder-color:white;
  background-color:black;
  color:white;
}

#inspiration{
  color:white;
  font-family:Macondo;
  font-size:20px;
}

#contact{
  color:white;
  font-family:Macondo;
  font-size:20px;
}

#threeisanumber{
  border-style:solid;
  boder-color:white;
  background-color:black;
  color:white;
}

#nono{
  font-size:20px;
}




